@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

@mixin button-size($font-size,$padding-size) {
  font-size:$font-size;
  padding: $padding-size/2 $padding-size $padding-size/2 $padding-size;
}

