/*colors*/
$bg-dark: #ccc;
$bg-light: #fff;
$bg-darkness:#564040;
$bark-text: #000;
$semi-dark-text: #666;
$light-text: #fff;

$bg-regular:#65a5f3;
$bg-ok: #1fbb02;
$bg-warning: #f9ad01;
$bg-error: #f72d00;

