@import 'normalize';
@import 'variables';
@import 'mixins';

.body {
  background: $bg-dark;
  width: 100%;
  overflow: auto;
  min-height: 100%;
  min-width: 320px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 15px;
  margin-bottom: 30px;

  &__logo {
    font-weight: bold;
    margin: 0;
    color: $light-text;
  }
}

.nav {
  &__link {
    color: $light-text;
    text-decoration: none;
    padding: 0 15px;

    &--main {
      font-weight: bold;
    }

    &.active {
      text-decoration: underline;
    }
  }
}

.positions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex-wrap: wrap;

  &__position {
    max-width: 20%;
    border: 1px solid #fff;
    margin: 15px;
    min-width: 200px;
  }
}

.position {
  position: relative;
  box-sizing: border-box;

  &__block {
    background: #fff;
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
    position: relative;
  }

  &__marker {
    position: absolute;
    right: 0;
    top: -10px;
    border-radius: 9px;
    padding: 2px;
    background: red;
    color: #fff;
    z-index: 2;
  }

  &__title {
    background: #fff;
    margin: 0;
    padding: 10px;

    &--fixed {
      position: fixed;
      top: 0;
      right: 0;
      background: yellow;

    }

    &--absolute {
      position: absolute;
      top: 0;
      background: rgba(165, 54, 54, .8);
      color: #fff;
    }

    &--sticky {
      position: sticky;
      top: 0;
    }
  }

  &__text {
    padding: 10px;
  }
}

.buttons {
  width: 100%;
  background: $bg-darkness;
  padding: 40px 15px;
  box-sizing: border-box;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: $light-text;
    text-align: center;
  }

  &__btn {
    min-width: 100px;
  }
}

.btn {
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  @include button-bg($bg-regular);

  &--ok {
    @include button-bg($bg-ok);
  }

  &--warning {
    @include button-bg($bg-warning);
  }

  &--error {
    @include button-bg($bg-error);
  }

  &--small {
    @include button-size(12px, 10px);
  }

  &--madium {
    @include button-size(14px, 30px);
  }

  &--big {
    @include button-size(16px, 26px);
  }
}

.extend {
  padding: 15px;
  background: #97d4a1;

  &__title {
    color: $light-text;
  }
}

.notification {
  background: $bg-light;
  color: $bark-text;
  border-radius: 7px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 15px;

  &-ok {
    @extend .notification;
    background: $bg-ok;
  }

  &-warning {
    @extend .notification;
    background: $bg-warning;
  }

  &-error {
    @extend .notification;
    background: $bg-error;
  }

}

