.wrapper {
    width: 600px;
    height: 100px;
    background: #eee;
}

.header {
    height: 100px;
    text-align: center;
}

.holder {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.nav {
    width: 25%;
    background: #bbb;
}

.aside {
    width: 25%;
    background: #888;
}

.content {
    width: 50%;
    background: #eee;
}

.footer {
    background: #ccc;
    height: 100px;
    text-align: center;
}

.content__header {
    background: #e8e8a9;
    height: 50px;
}

.content__footer {
    background: #f18f2e !important;
    height: 50px;
}
.content .content__footer {
    background: #333 !important;
}
